.wrapper {
  height: 100vh;
  height: 100dvh;
  transition: width 500ms;

  @apply flex flex-col sticky top-0 w-64 c-border-r overflow-hidden;

  &.hide {
    @apply w-0;
  }
}

.logo {
  @apply whitespace-nowrap font-semibold text-lg py-3 px-4 c-border-b;
}

.links {
  @apply flex flex-col;

  & .link {
    @apply border-l-4 border-l-transparent;
    @apply flex flex-row items-center gap-2 py-2 px-3;

    & h2 {
      @apply text-lg;
    }

    &.active {
      @apply border-l-blue-600 bg-neutral-100 dark:bg-neutral-800;
    }
  }
}
