@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  height: 100vh;
  height: 100dvh;
  --sidebar-width: 16rem;

  @apply font-mono dark:bg-neutral-900 c-text-900;
}

main {
  @apply flex flex-row;
}
